example rfc (make txt) won't work with xml2rfc 2.40.0-1

# To help us debug your issue please add these details.

## What went wrong?

couldn't build rfc examples

## What version of mmark are you using?
```
mmark $ ./mmark -version
2.2.25
```

## What is the *most* minimal markdown snippets that shows the problem?


```
rfc $ dpkg -l |grep xml2rfc
ii  xml2rfc                                       2.40.0-1                             all          XML-based formatting tool for RFCs

rfc $ git remote -v
origin  git@github.com:mmarkdown/mmark (fetch)
origin  git@github.com:mmarkdown/mmark (push)

rfc $ git rev-parse HEAD
054746b789160ea63df07301d1274d04bfddaa09


$ cd rfc
rfc $ make txt
xml2rfc --text --v3 2100.xml
2100.xml(3): Warning: The 'docName' attribute of the <rfc/> element should have a revision number as the last component: docName="draft-foo-bar-02".
2100.xml(100): Warning: Unused reference: There seems to be no reference to [libes] in the document
2100.xml(108): Warning: Unused reference: There seems to be no reference to [lottor] in the document
2100.xml(115): Warning: Unused reference: There seems to be no reference to [ts] in the document
2100.xml(122): Warning: Unused reference: There seems to be no reference to [wong] in the document
 Created file 2100.txt
rm -f 2100.xml
../mmark 7511.md > 7511.xml
xml2rfc --text --v3 7511.xml
7511.xml(3): Warning: The 'docName' attribute of the <rfc/> element should have a revision number as the last component: docName="draft-foo-bar-02".
 Created file 7511.txt
rm -f 7511.xml
../mmark 1035.md > 1035.xml
xml2rfc --text --v3 1035.xml
1035.xml(3): Warning: The 'docName' attribute of the <rfc/> element should have a revision number as the last component: docName="draft-foo-bar-02".
1035.xml(2397): Warning: Unused reference: There seems to be no reference to [IEN116] in the document
1035.xml(2407): Warning: Unused reference: There seems to be no reference to [Quarterman86] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0742] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0799] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0805] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0810] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0811] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0812] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0819] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0821] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0830] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0883] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0920] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0952] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0953] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC0973] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC1001] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC1002] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC1031] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC1032] in the document
1035.xml(2396): Warning: Unused reference: There seems to be no reference to [RFC1033] in the document
1035.xml(2441): Warning: Unused reference: There seems to be no reference to [Solomon82] in the document
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(2373): Error: Did not expect an <iref> here, skipping it
1035.xml(0): Error: Type IDREF doesn't allow value 'rfc.index.*', at /rfc/back/section[1]/t/xref[1]
1035.xml(0): Error: Element xref failed to validate attributes, at None
1035.xml(0): Error: Invalid attribute target for element xref, at /rfc/back/section[1]/t/xref[1]
1035.xml(0): Error: Type IDREF doesn't allow value 'rfc.index.;', at /rfc/back/section[1]/t/xref[2]
1035.xml(0): Error: Element xref failed to validate attributes, at None
1035.xml(0): Error: Invalid attribute target for element xref, at /rfc/back/section[1]/t/xref[2]
1035.xml(0): Error: Type IDREF doesn't allow value 'rfc.index.<', at /rfc/back/section[1]/t/xref[3]
1035.xml(0): Error: Element xref failed to validate attributes, at None
1035.xml(0): Error: Invalid attribute target for element xref, at /rfc/back/section[1]/t/xref[3]
1035.xml(0): Error: Type IDREF doesn't allow value 'rfc.index.@', at /rfc/back/section[1]/t/xref[4]
1035.xml(0): Error: Element xref failed to validate attributes, at None
1035.xml(0): Error: Invalid attribute target for element xref, at /rfc/back/section[1]/t/xref[4]
1035.xml(0): Error: Type IDREF doesn't allow value 'rfc.index.\', at /rfc/back/section[1]/t/xref[18]
1035.xml(0): Error: Element xref failed to validate attributes, at None
1035.xml(0): Error: Invalid attribute target for element xref, at /rfc/back/section[1]/t/xref[18]
1035.xml(0): Error: Element li has extra content: t, at /rfc/back/section[1]/ul/li[1]/t
1035.xml(0): Error: Element li has extra content: t, at /rfc/back/section[1]/ul/li[2]/t
1035.xml(0): Error: Element li has extra content: t, at /rfc/back/section[1]/ul/li[3]/t
1035.xml(0): Error: Element li has extra content: t, at /rfc/back/section[1]/ul/li[4]/t
1035.xml(0): Error: Element li has extra content: t, at /rfc/back/section[1]/ul/li[18]/t
1035.xml(3): Warning: Invalid document after running preptool.
Not creating output file due to errors (see above)
Unable to complete processing 1035.xml
make: *** [Makefile:10: 1035.txt] Error 1```

indeed is only two of them rfc/1035.xml rfc/8341.xml

please use an up to date xml2rfc, current one is 3.14.0

I use the following script to give me a .deb:
~~~ zsh
#!/bin/zsh

version="$1"

if [ -z "$version" ]; then
    echo "version is needed" >&2
    exit 1
fi

dir=$(mktemp -d)

(
cd "$dir" && \
curl -L https://files.pythonhosted.org/packages/source/x/xml2rfc/xml2rfc-"$version".tar.gz > xml2rfc-"$version".tar.gz && \
py2dsc-deb xml2rfc-"$version".tar.gz && \
ls -l deb_dist/python3-xml2rfc_"$version"-1_all.deb && \
sudo dpkg -i deb_dist/python3-xml2rfc_"$version"-1_all.deb
)
~~~

call with the version: `get-xml2rfc 3.14.0`